[package]
name = "trustfall_rustdoc"
version = "0.22.0"
edition = "2021"
authors = ["Predrag Gruevski <obi1kenobi82@gmail.com>"]
license = "Apache-2.0 OR MIT"
description = "Run Trustfall queries across multiple rustdoc JSON format versions."
repository = "https://github.com/obi1kenobi/trustfall-rustdoc"
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde_json = "1.0.140"

# All of the packages below are in our public API,
# so bumping major versions for any of them is a major breaking change.
anyhow = "1.0.97"
cargo_metadata = "0.19.2"
serde = { version = "1.0.219", features = ["derive"] }
thiserror = "2.0.12"
trustfall = "0.8.1"
trustfall-rustdoc-adapter-v35 = { package = "trustfall-rustdoc-adapter", version = ">=35.5.3,<35.6.0", optional = true }
trustfall-rustdoc-adapter-v36 = { package = "trustfall-rustdoc-adapter", version = ">=36.5.4,<36.6.0", optional = true }
trustfall-rustdoc-adapter-v37 = { package = "trustfall-rustdoc-adapter", version = ">=37.3.4,<37.4.0", optional = true }
trustfall-rustdoc-adapter-v39 = { package = "trustfall-rustdoc-adapter", version = ">=39.1.0,<39.2.0", optional = true }
trustfall-rustdoc-adapter-v43 = { package = "trustfall-rustdoc-adapter", version = ">=43.0.0,<43.1.0", optional = true }

[features]
default = ["v35", "v36", "v37", "v39", "v43"]
rayon = [
    "trustfall-rustdoc-adapter-v35?/rayon",
    "trustfall-rustdoc-adapter-v36?/rayon",
    "trustfall-rustdoc-adapter-v37?/rayon",
    "trustfall-rustdoc-adapter-v39?/rayon",
    "trustfall-rustdoc-adapter-v43?/rayon",
]
rustc-hash = [
    "trustfall-rustdoc-adapter-v35?/rustc-hash",
    "trustfall-rustdoc-adapter-v36?/rustc-hash",
    "trustfall-rustdoc-adapter-v37?/rustc-hash",
    "trustfall-rustdoc-adapter-v39?/rustc-hash",
    "trustfall-rustdoc-adapter-v43?/rustc-hash",
]
# Keep this list of rustdoc version-specific features at the bottom,
# to ensure our version-updating automation works correctly.
v35 = ["dep:trustfall-rustdoc-adapter-v35"]
v36 = ["dep:trustfall-rustdoc-adapter-v36"]
v37 = ["dep:trustfall-rustdoc-adapter-v37"]
v39 = ["dep:trustfall-rustdoc-adapter-v39"]
v43 = ["dep:trustfall-rustdoc-adapter-v43"]
