[package]
name = "trustfall_rustdoc"
version = "0.3.1"
edition = "2021"
authors = ["Predrag Gruevski <obi1kenobi82@gmail.com>"]
license = "Apache-2.0 OR MIT"
description = "Run Trustfall queries across multiple rustdoc JSON format versions."
repository = "https://github.com/obi1kenobi/trustfall-rustdoc"
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.65"
serde_json = "1.0.85"
serde = { version = "1.0.145", features = ["derive"] }
trustfall_core = "0.0.4"
trustfall-rustdoc-adapter-v16 = { package = "trustfall-rustdoc-adapter", version = "16.0.1", optional = true }
trustfall-rustdoc-adapter-v21 = { package = "trustfall-rustdoc-adapter", version = "21.0.1", optional = true }
trustfall-rustdoc-adapter-v22 = { package = "trustfall-rustdoc-adapter", version = "22.0.0", optional = true }

[features]
default = ["v16", "v21", "v22"]
v16 = ["dep:trustfall-rustdoc-adapter-v16"]
v21 = ["dep:trustfall-rustdoc-adapter-v21"]
v22 = ["dep:trustfall-rustdoc-adapter-v22"]
