[package]
name = "trustfall_rustdoc"
version = "0.8.2"
edition = "2021"
authors = ["Predrag Gruevski <obi1kenobi82@gmail.com>"]
license = "Apache-2.0 OR MIT"
description = "Run Trustfall queries across multiple rustdoc JSON format versions."
repository = "https://github.com/obi1kenobi/trustfall-rustdoc"
readme = "./README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.65"
serde_json = "1.0.85"
serde = { version = "1.0.145", features = ["derive"] }
trustfall_core = { version = "0.2.0", path = "../trustfall/trustfall_core" }
# trustfall-rustdoc-adapter-v21 = { package = "trustfall-rustdoc-adapter", version = ">=21.5.0,<21.6.0", optional = true }
# trustfall-rustdoc-adapter-v22 = { package = "trustfall-rustdoc-adapter", version = ">=22.5.0,<22.6.0", optional = true }
# trustfall-rustdoc-adapter-v23 = { package = "trustfall-rustdoc-adapter", version = ">=23.2.0,<23.3.0", optional = true }
trustfall-rustdoc-adapter-v24 = { package = "trustfall-rustdoc-adapter", path = "../trustfall-rustdoc-adapter", version = ">=24.1.0,<24.2.0", optional = true }

[features]
default = ["v24"]
v21 = ["dep:trustfall-rustdoc-adapter-v24"]
v22 = ["dep:trustfall-rustdoc-adapter-v24"]
v23 = ["dep:trustfall-rustdoc-adapter-v24"]
v24 = ["dep:trustfall-rustdoc-adapter-v24"]
